<?xml version="1.0"?>
<robot name="my_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- Chassis link -->
  <link name="link_chassis">
    <pose>0 0 0.1 0 0 0</pose>
    <inertial>
      <mass value="5"/>
      <origin rpy="0 0 0" xyz="0 0 1"/>
      <inertia ixx="0.0395416666667" ixy="0" ixz="0" iyy="0.106208333333" iyz="0" izz="0.13375"/>
    </inertial>
    <collision name="collision_chassis">
      <geometry>
        <box size="2 2 1"/>
      </geometry>
    </collision>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <box size="2 2 1"/>
      </geometry>
    </visual>
  </link>
  
  <!-- Adding LiDAR sensor publishing PointCloud -->
  <gazebo reference="link_chassis">
    <sensor type="ray" name="lidar_sensor">
      <pose>0 0 1 0 0 0</pose>
      <visualize>true</visualize>
      <update_rate>10</update_rate>
      <ray>
        <scan>
          <horizontal>
            <samples>720</samples>
            <resolution>1</resolution>
            <min_angle>-3.14</min_angle>
            <max_angle>3.14</max_angle>
          </horizontal>
        </scan>
        <range>
          <min>0.1</min>
          <max>30.0</max>
          <resolution>0.01</resolution>
        </range>
      </ray>
      <plugin name="lidar" filename="libgazebo_ros_ray_sensor.so">
        <ros>
          <namespace>/</namespace>
          <topicName>/point_cloud</topicName>
        </ros>
        <output_type>sensor_msgs/PointCloud2</output_type>
      </plugin>
    </sensor>
  </gazebo>
</robot>
